/*
 * border radius
*/
$mdRadius: var(--oracle-md-radius, $radius-md) !default;

/*
 * font weights
*/
$regular: var(--oracle-regular, $regular) !default;
$medium: var(--oracle-medium, $medium) !default;
$bold: var(--oracle-bold, $bold) !default;

/*
 * font weights
*/
$defaultFamily: var(--oracle-default-family, $default) !default;
$codeFamily: var(--oracle-code-family, $code) !default;
